 <div class="tweet row">
                <%= image_tag opinion.author.avatar , class: "s-profile-pic", alt: "big profile image" if opinion.author.avatar.attached? %>
                <div class="tweet-post">
                    <% if opinion.image.attached? %>
                    <%= image_tag opinion.image, class: 'post-pic' %>
                    <% end %>
                    <div class="row j-between"><p class="tweet-post-name"><span class="f-name"><%= opinion.author.name %></span> <i class="fas fa-check-circle"></i><span class="u-name">@<%= opinion.author.username %></span></p> <p class="tweet-post-timeago"> <i class="far fa-clock"></i><%= time_ago_in_words(opinion.created_at) %> ago.</p></div>
                    <p class="tweet-comment"><%= opinion.text %></p>
                    <p class="likes-bar"><%= pluralize(opinion.likes.count, "like") %></p>
                    <% unless liked?(opinion.id) %>
										  <%= button_to "Like",{:controller => 'likes', :action => 'create',:user_id => current_user.id, :opinion_id => opinion.id}, {:method => :post, :class => "likebtn"} %>
										<% else %>
										  <%= button_to "Unlike",{:action => 'destroy',
										  	:controller => 'likes',:id =>  current_user_liked(opinion.id) }, 
										  	{:method => :delete, :class => "likebtn"} %>
										  <% end %>
                </div>
            </div>
